
/* Styles généraux */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-poppins: "Poppins", sans-serif;
  --font-mono: "Space Mono", monospace;
}

  
  /* Styles des titres */
  h1, h2, h3 {
    font-family: var(--font-mono);
    font-weight: 400;
    font-style: italic;
    line-height: 1.2em;
   
  }
  
  h1 { font-size: 96px; }
  h2 { font-size: 66px; }
  h3 { font-size: 18px; }
/* Styles des paragraphes */
p {
  font-family: var(--font-poppins);
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

button {
  background-color: #d8d8d8 !important;
  font-family: "Space Mono", monospace !important;
  color: black !important;
  font-size: 12px !important;
  font-weight: 400;
  width: 272px;
  height: 50px;
  line-height: 50%;
  border: none !important;
}
button:hover {
  background-color: black !important;
  color: white !important;
  outline: 0 !important;
  outline-offset: 0 !important;
}
a {
  text-decoration: none !important;
}


/* Styles pour les petits écrans */
@media (max-width: 768px) {
  .site-main {
    padding: 0;
    margin: 0;
  }

  .main-title-title {
    font-size: 27.59px;
    line-height: 40.86px;
    top: 25%;
  }

  #main > div.main-title {
    background-size: contain;
    height: 40vh;
    max-width: 100vh;
    margin-bottom: 0;
  }

  .main-site {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .entry-content {
    width: 100%;
    margin: 0;
  }

  .entry-content img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin: 0;
  }

  #main > div.main-title {
    margin-bottom: 0;
  }

  .main-photos.hide-title {
    margin-top: 0;
  }

  h2 {
    font-size: 46px;
    line-height: 48px;
  }

  #colophon {
    margin: 0;
  }

  .footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-navigation li {
    margin: 10px 0;
  }
}
